#tab-anotador {
    background: linear-gradient(120deg, rgba(255,99,71,1) 0%, rgba(255,192,74,1) 100%);
}

.anotador-encabezado {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}

.btnCrearNota {
    width: 5%;
    font-size: 2rem;
    font-weight: bolder;
    color: #1d1d1d;
}

.notas {
    border: #666666 solid 1px;
    border-radius: .5rem;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    box-shadow: 3px 1px 2px 0px rgba(0,0,0,0.1);
    background-color: #ffffff;
    background-image: linear-gradient( 110.5deg,  rgba(248,196,249,0.66) 22.8%, rgba(253,122,4,0.15) 64.6% );
}

.titunota {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
}