#logo {
    margin: 5rem auto;
}

#tarjetaSaludo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: .5rem;
    background: linear-gradient(120deg, rgba(255,99,71,1) 0%, rgba(255,192,74,1) 100%);
    border-radius: .5rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.botonera {
    display: flex;
    flex-flow: row wrap;
}

#btnSOS {
    margin: .2rem;
    width: 40%;
    background-color: #ef476f;
}

#btnLector {
    margin: .2rem;
    width: 40%;
    background-color: #06d6a0;
}

.tarjetaTablero {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
}

#turnoTablero {
    width: 100%;
}

.tarjeta {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 1rem;
    padding: .8rem 1rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

#tarjeta-pastillero {
    background-color: #fee440;
}

#tarjeta-turno {
    background-color: #00bbf9;
}

#tarjeta-cumple {
    background-color: #00f5d4;
}

.tarjeta-encabezado {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: .5rem 0;
}

h3 {
    margin: .5rem 0;
    text-transform: uppercase;
}

.btnCrear {
    width: 5%;
    font-size: 2rem;
    font-weight: bolder;
    color: #ffffff;
}

.turnos, .pastis, .cumples {
    padding: .3rem 0 .3rem 1.5rem;
    font-weight: bold;
    border-bottom: #ffffff 2px solid;
    border-radius: .5rem;
}

.oculto {
	display: none;
	visibility: hidden;
}

.hoyCumple {
    background-color: #005247;
    font-weight: bolder;
    color: #ffffff;
}

.hoyTurno {
    background-color: #003749;
    font-weight: bolder;
    color: #ffffff;
}

.poptodosturnos {
    background-color: #00bbf9;
}

.poptodoscumples {
    background-color: #00f5d4;
}

.popsemanapastis {
    background-color: #fee440;
}

.btnTodos {
    width: 25%;
    font-size: 1rem;
    font-weight: bolder;
}

.btnPastiTodos {
    color: #554c10;
}

.btnTurnosTodos {
    color: #00455c;
}

.btnCumplesTodos {
    color: #005348;
}

#txtOCR {
    text-transform: uppercase;
    font-size: 2rem;
}

.subtitulo {
    border-bottom: 2px solid #1b1b1b;
}

#pastiTablero {
    width: 100%;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgPerfil {
    width: 100%;
}

#btnCerrarSesion {
    font-weight: bolder;
    color: #ff0000;
}