#tarjetaSaludo {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: .5rem;
    background: linear-gradient(120deg, rgba(255,99,71,1) 0%, rgba(255,192,74,1) 100%);
    border-radius: .5rem;
    box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.3);
}

#tarjetaSaludo > .col {
    height: 100%;
}

#cantidadPasosSaludo {
    font-weight: bolder;
    border-bottom: #ffffff 3px solid;
}

.botonera {
    height: 8%;
    margin: 0 1rem .5rem 1rem;
    display: flex;
    flex-flow: row wrap;
}

#btnSOS {
    width: 100%;
    height: 50%;
}

#btnMEMO {
    width: 50%;
    height: 50%;
    margin-top: .5rem;
}

#btnLector {
    width: 50%;
    height: 50%;
    margin-top: .5rem;
}

.tarjetaTablero {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
}

.tarjeta {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.3);
}

#tarjeta-pastillero {
    background-color: #fee440;
}

#tarjeta-turno {
    background-color: #00bbf9;
}

#tarjeta-cumple {
    background-color: #00f5d4;
}

.tarjeta-encabezado {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: .5rem 0;
}

h3 {
    margin: .5rem 0;
    text-transform: uppercase;
}

.btnCrear {
    width: 5%;
    font-size: 2rem;
    font-weight: bolder;
    color: #ffffff;
}

.turnos, .pastis, .cumples {
    padding: .3rem 0 .3rem 1.5rem;
    font-weight: bold;
    border-bottom: #ffffff 2px solid;
    border-radius: .5rem;
}

.oculto {
	display: none;
	visibility: hidden;
}

.hoyCumple {
    background-color: #005247;
    font-weight: bolder;
    color: #ffffff;
}

.hoyTurno {
    background-color: #003749;
    font-weight: bolder;
    color: #ffffff;
}

.poptodosturnos {
    background-color: #00bbf9;
}

.poptodoscumples {
    background-color: #00f5d4;
}

.btnTodos {
    width: 20%;
    font-size: 1rem;
    font-weight: bolder;
    color: #dffffa;
}

#txtOCR {
    text-transform: uppercase;
    font-size: 2rem;
}